body {
  background-color: #ABA9C3; 
}

.navbar {
  background-color: #B2ECE1 !important; /* deep navy blue */
}

.card {
  background-color: #FCF7F8;
  border: none;
  box-shadow: 0 4px 10px rgba(30, 58, 138, 0.15); /* subtle ocean blue shadow */
}
